body {
  font-family: 'IBM Plex Sans Condensed', sans-serif !important;
  background-color: #c6f776;
}
a {
  color: #5f8e13;
}
a:hover, a:focus {
  color: #91d622;
}
.custom-colors {
  color: #ffe22b;
  background-color: #91d622 !important;
}
.shadow {
  box-shadow: 3px 3px 3px 3px;
}
.navbar .shadow {
	box-shadow: 0px 4px;
}

a.custom-colors:hover, a.custom-colors:focus,
button.custom-colors:hover,
button.custom-colors:focus {
  background-color: #5f8e13 !important;
}

.custom-colors .navbar-brand {
  color: #ffe22b;
}

.custom-colors .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: #ffe22b;
}

.custom-colors .navbar-nav .nav-link {
  color: #ffe22b;
}

.custom-colors .navbar-nav .nav-link:hover, .custom-colors .navbar-nav .nav-link:focus {
  color: #ffe22b;
  background-color: #5f8e13 !important;
  border-radius: 5px;
}

.custom-colors .navbar-nav .nav-link.disabled {
  color: rgb(255, 226, 43, 0.25);
}

.custom-colors .navbar-nav .show > .nav-link,
.custom-colors .navbar-nav .active > .nav-link,
.custom-colors .navbar-nav .nav-link.show,
.custom-colors .navbar-nav .nav-link.active {
  color: #ffe22b;
}

.custom-colors .navbar-toggler {
  color: rgb(255, 226, 43, 0.5);
  border-color: rgb(255, 226, 43, 0.1);
}

.custom-colors .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.custom-colors .navbar-text {
  color: #ffe22b;
}

.custom-colors .navbar-text a {
  color: #ffe22b;
}

.custom-colors .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
  color: #ffe22b;
}
.btn-custom {
  color: #ffe22b;
  background-color: #91d622;
  border-color: #5f8e13;
  box-shadow: 1px 1px #5f8e13;
}

.btn-custom:hover {
  color: #ffe22b;
  background-color: #5f8e13;
  border-color: #5f8e13;
}

.btn-custom:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem;
  border-color: #5f8e13;
}
.header-bg-img {
  background-image: url("../img/Canva - Assorted Vegetables on Brown Wooden Table.jpg");
  background-size: cover;
  font-family: 'Abril Fatface', cursive;
  color: #5f8e13;
  text-shadow: 2px 2px #aeb7ac;
}
